<div class="experiment_links">
  <%= link_to "In-progress", @experimental_path_names.index %>
  |
  <%= link_to "Ended or Removed", @experimental_path_names.inactive %>
  |
  <%= link_to "Create New Experiment", @experimental_path_names.new %>
</div>
